<!DOCTYPE html>
<html>
<head>
  <title>CityApp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <script>
    var EVENTBRITE_KEY = "<%= ENV['EVENTBRITE_KEY'] %>"
    var EVENTFUL_KEY = "<%= ENV['EVENTFUL_KEY'] %>"
  </script>
</head>

<body>
<div class="container">
<nav>
  <li><%=link_to('Cities', cities_path)%></li>
  <li><%=link_to('Trips', trips_path)%></li>
  <li><%= link_to('Add a City', new_city_path)%></li>
  <li><%= link_to('Add a Trip', new_trip_path)%></li>
  <li><div class="search">
      <input type="search" id="search-keyword">
    <button id="searchButton">Search</button>
</div></li>
</nav>
<h1>TRIP GUIDE</h1>




<%= yield %>
</div>
</body>
</html>
